.container {
  width: 100%;
  max-width: 1300px;
  position: relative;
  text-align: center;
  height: auto;
  background: #141414;
  color: #fff;
  margin: auto;
  padding-top: 5px;
}

#user {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 10px;
}

.name {
  max-width: 1300px;
  width: 100%;
  height: 70px;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
  justify-content: space-between;
}

#nome_utente {
  width: 400px;
  height: 100px;
  text-decoration: none;
  color: #fff;
}

#settaggi {
  background: #fff;
  width: 150px;
  height: 80px;
  color: #141414;
  margin: auto;
}

#wishlista {
  width: 200px;
  color: #fff;
  background-color: rgba(44, 41, 41, 0.541);
  margin: 0;
}

#liblista {
  width: 200px;
  color: #fff;
  background-color: rgba(51, 46, 46, 0.432);
  margin: 0;
}

#button-bar {
  width: 100%;
  height: 70px;
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5px;
}
.accountbutton {
  width: 150px;
  font-size: 30px;
  margin-top: 25px;
  border: none;
  color: white;
  background-color: transparent;
}
.empty {
  margin-top: 300px;
  width: 100%;
  height: 500px;
  font-size: 80px;
  text-align: center;
}
