* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image:url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*------------NAV SECTION----------*/

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#logo {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff6b08 0%, #fda65e 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav_item {
  height: 80px;
}

.nav_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f09144;
  color: #fff;
}

.button:hover {
  background: #ff6c0a;
  transition: all 0.3s ease;
}

.nav_links:hover {
  color: #e9872b;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }

  .nav_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: black;
  }

  .nav_menu.active {
    background: black;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #logo {
    padding-left: 25px;
  }

  .nav_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  .nav_item {
    width: 100%;
  }

  .nav_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #menu_button {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .nav_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .nav_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #menu_button.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu_button.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  #menu_button.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
}

/*---------Main Section----------*/

.main {
  justify-content: center;
  align-items: center;
}
.badge{
  width: 30px;
  height: 30px;
  background-color: white;
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}
/*------------Piattaforme----------*/
#Platforms {
  height: 50px;
  background: #80d893;
}

/*--------Image Section-----------*/
.img_container {
  background: #141411;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------Game Section-------------*/

.game_container {
  width: 100%;
  max-width: 1300px;
  position: relative;
  text-align: center;
  height: auto;
  background: #141414;
  color: #fff;
  margin: auto;
  padding-top: 5px;
}

#games {
  padding-top: 10px;
}

.GameSpace {
  border-radius: 8px;
  background-color: black;
  width: 250px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 15px 15px;
}

.GameSpace:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  transition-delay: 50ms;
}

.GameImage {
  width: 250px;
  height: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.GameName {
  background-color: black;
  color: antiquewhite;
}

/*----------bottoni------------*/

.page_button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: #e9872b;
  color: #fff;
  margin: 4px;
  font-size: small;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: inline-block;
  border: none;
  margin-bottom: 5px;
}
