.main {
  justify-content: center;
  align-items: center;
}

/*--------Image Section-----------*/

.img_container {
  background: #141411;
  display: flex;
  justify-content: center;
  align-items: center;
}
#immagine {
  height: 100px;
  width: inherit;
}

/*----------Game Section-------------*/

#games {
  padding-top: 10px;
}


.GameSpace {
  border-radius: 8px;
  background-color: rgb(52, 52, 52);
  width: 250px;
  height: 220px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 15px 15px;
}

.GameSpace:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  transition-delay: 50ms;
}

.GameImage {
  width: 250px;
  height: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.GameName {
  background-color: transparent;
  color: antiquewhite;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Btn-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
